/* Chat.css */

.custom-scrollbar {
  max-height: 100vh; /* Set the maximum height of the chat container to the height of the viewport */
  overflow-y: auto; /* Enable vertical scrolling only when the content overflows */
}

/* Customize the scrollbar appearance */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Set the width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4f4f4f; /* Set the color of the scrollbar thumb */
  border-radius: 5px; /* Set the border radius of the scrollbar thumb */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #ffffff; /* Set the color of the scrollbar track */
}
